

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    background-color: turquoise;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{ 
    font-size: 3em;
    color: springgreen;
    font-weight: bold;
    text-decoration: underline;
}

.Spotify {
    max-width: 3em;
    max-height: 3em;
    border: 2px solid black;
}

li {
    font-size: 1.5rem;
    color: turquoise;
}

a {
    text-decoration: none;
    color: rgb(18, 16, 165);
    transition: ease-in-out 1s;
}

a:hover {
    font-size: 2rem;
    color: ivory;

}

th {
    background-color: tomato;
    font-weight: bolder;
    color: black;
}
table, td {
    border: 1px solid black;
}

.raskedmetallid {
    font-size: 1rem;
}

.teinelk {
    font-size: 2rem;
    color: yellow;
}

@media screen and (max_width: 1085px) {
    body {
        display: block;
    }
}