.Spotify {
    max-width: 3em;
    max-height: 3em;
    border: 2px solid black;
}

li {
    font-size: 1.5rem;
    color: turquoise;
}

a {
    text-decoration: none;
    color: rgb(18, 16, 165);
}

th {
    background-color: tomato;
    font-weight: bolder;
    color: black;
}
table, td {
    border: 1px solid black;
}

.raskedmetallid {
    font-size: 1rem;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: turquoise;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{ 
    font-size: 3em;
    color: springgreen;
    font-weight: bold;
    text-decoration: underline;
}
