.Spotify {
    padding: 0;
    max-width: 3em;
    max-height: 3em;
}

li {
    font-size: 2em;
    color: turquoise;
}

a {
    text-decoration: none;
}

table, td {
    border: 1px solid black;
}

.raskedmetallid {
    font-size: 0.5em;
}